!!!
%html
  %head
    %title= admin_title
    = include_stylesheets :admin, :media => 'all'
    = include_javascripts :admin
    
    <!--[if gte IE 7]>
    = stylesheet_link_tag "admin/ie"
    <![endif]-->
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!--[if lte IE 7]>
    <style type="text/css">body * {display: none;} .ie {display: block !important;}</style>
    <![endif]-->

    = csrf_meta_tag
  %body
    .ie Браузер Internet Explorer ниже восьмой версии не поддерживается.

    .container
      .version{:style => 'display: none;'}
        - if @lang == 'ru'
          Русская версия
        - if @lang == 'en'
          Английская версия
      .logo
        = image_tag AdminHelpers.config[:logo], :size => AdminHelpers.config[:logo_size]
      .nav
        .navigation1
          %ul
            = render :partial => "layouts/admin/nav"
        .navigation2
          - begin
            - s = render :partial => "subnav"
            %ul= s
          - rescue ActionView::MissingTemplate        
          - begin
            - s = render :partial => "subnav2"
            %ul= s
          - rescue ActionView::MissingTemplate
      .content= yield
